/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #607d8b;
  --ifm-color-primary-dark: #56707d;
  --ifm-color-primary-darker: #526a76;
  --ifm-color-primary-darkest: #435861;
  --ifm-color-primary-light: #6a8998;
  --ifm-color-primary-lighter: #718f9d;
  --ifm-color-primary-lightest: #869fab;
  --ifm-code-font-size: 95%;
  --ifm-font-color-base: #212121;
}

html[data-theme='dark'] {
  --ifm-color-primary: #cfd8dc;
  --ifm-color-primary-dark: #b6c4ca;
  --ifm-color-primary-darker: #aabac1;
  --ifm-color-primary-darkest: #859ca6;
  --ifm-color-primary-light: #e8ecee;
  --ifm-color-primary-lighter: #f4f6f7;
  --ifm-color-primary-lightest: #ffffff;
  --ifm-font-color-base: #CFD8DC;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
